FastAPI==0.116.1
pydantic==2.11.7
sqlalchemy==2.0.41
uvicorn==0.35.0
git+https://github.com/openai/whisper.git
noisereduce>=3.0.0
scipy>=1.15.1
numpy==2.2.6
resemblyzer==0.1.4
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn>=1.5.0
transformers>=4.40.0
sentence-transformers>=3.0.0
python-multipart==0.0.20